[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pprint = "*"

[packages]
certifi = "==2026.2.25"
chardet = "==3.0.4"
idna = "==3.11"
requests = "==2.32.5"
urllib3 = "==2.6.3"
loguru = "*"

[requires]
python_version = "3.7"
