[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pprint = "*"

[packages]
certifi = "==2026.4.22"
chardet = "==7.4.3"
idna = "==3.12"
requests = "==2.33.1"
urllib3 = "==2.6.3"
loguru = "*"

[requires]
python_version = "3.7"
